@font-face {
  font-family: 'Gotham Black';
  src: url("../fonts/Gotham-Black.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-Book.otf") format("opentype"); }
.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.body {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1800px;
  padding: 10px; }

.content-header {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .content-header .categories {
    display: flex;
    width: 48%;
    background-color: black;
    color: white;
    font-family: 'Gotham Black';
    align-items: center;
    height: 30px;
    margin-bottom: 15px; }
    .content-header .categories .brand {
      margin-left: 100px; }

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Gotham Book'; }

.list-item {
  display: flex;
  width: 48%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 2px; }

.types {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .types p {
    margin-left: 40px; }

.numbers {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .numbers p {
    width: 10px; }
  .numbers .thc, .numbers .cbd, .numbers .price {
    flex-grow: 1; }

.footer {
  width: 1800px;
  height: 80px;
  background-color: white; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 10px; }
  .header .logo {
    height: 100%; }
    .header .logo #circle-logo {
      width: 200px;
      filter: invert(100%);
      margin-top: 10px; }
    .header .logo:hover {
      transform: scale(1.05); }
  .header .menu-title h1 {
    color: white;
    font-size: 50px;
    font-family: 'Gotham Black';
    text-transform: uppercase; }
  .header .legend {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    display: flex;
    width: 150px;
    justify-content: space-around; }

.icon-indica {
  background: #6c345d;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: 12px;
  border: 2px solid #6c345d; }

.icon-sativa {
  background: #d1482f;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: 12px;
  border: 2px solid #d1482f; }

.icon-hybrid {
  background: #79ba30;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: 12px;
  border: 2px solid #79ba30; }

.icon-indica-hybrid {
  background: #79ba30;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: 12px;
  border: 2px solid #6c345d; }

.icon-sativa-hybrid {
  background: #79ba30;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: 12px;
  border: 2px solid #d1482f; }

.con-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Gotham Book'; }

.con-cartridges, .con-live-resins, .con-shatter, .con-wax, .con-rso, .con-oil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; }

.con-title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3a3a3a;
  color: #d8d6d6;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 2px;
  font-size: 22px; }

.con-list-item {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 2px; }

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh; }

#welcome-logo {
  filter: invert(100%);
  margin-bottom: 70px; }

.buttons {
  display: flex;
  width: 1400px;
  justify-content: space-around; }

.preroll-button, .flower-button, .concentrates-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  font-family: 'Gotham Black';
  font-size: 50px; }
  .preroll-button:hover, .flower-button:hover, .concentrates-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(125, 125, 125, 0.5); }
  .preroll-button:active, .flower-button:active, .concentrates-button:active {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transform: scale(1); }

#flower-menu, #concentrate-menu {
  display: none; }

.logo {
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.box {
  border: 1px solid black; }

body {
  background-image: url("../img/wood.jpg");
  background-size: cover; }

/*# sourceMappingURL=master.css.map */
