@import '1-flower/flower';
@import '2-abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  border: 1px solid black;
}

body {
  background-image: url("../img/wood.jpg");
  background-size: cover;
}

.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  // background-color: $hybrid;
}
