@import 'fonts';
@import '2-abstracts/variables';
@import '1-flower/header';
@import '1-flower/flower';
@import '3-concentrate/concentrate';
@import '4-welcome/welcome';
@import '5-marquee/marquee';

#flower-menu, #concentrate-menu {
  display: none;
}

.logo {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  border: 1px solid black;
}

body {
  background-image: url("../img/wood.jpg");
  background-size: cover;
  width: 1920px;
  height: 1080px;
  // font-family: 'Gotham Black';
}
