@import 'fonts';
@import '2-abstracts/variables';
@import '1-flower/flower';
@import '1-flower/header';
@import '3-concentrate/concentrate';
@import '4-welcome/welcome';

#flower-menu, #concentrate-menu {
  display: none;
}

.logo {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  border: 1px solid black;
}

body {
  background-image: url("../img/wood.jpg");
  background-size: cover;
  // font-family: 'Gotham Black';
}

// .container {
//   height: 100vh;
//   width: 100vw;
//   background-size: cover;
//   // background-color: $hybrid;
// }
