.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-top: 3px solid #d8d8d8;
  .marquee {
    animation: marquee 25s linear 0s infinite;
    p {
      font-size: 30px;
      font-family: 'Gotham Medium Italic';
      color: #d8d8d8;
    }
    // width: 10px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(1950px);
    // right: 0;
  }
  100% {
    // left: 0;
    transform: translateX(-30px);
  }
}
