.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1800px;
  padding: 10px;
  margin-bottom: 10px;
}

.content-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  .categories {
    display: flex;
    width: 48%;
    background-color: black;
    color: white;
    font-family: 'Gotham Black';
    align-items: center;
    height: 30px;
    margin-bottom: 15px;

    .brand{
      margin-left: 100px;
    }
  }
}


.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Gotham Medium';
}

.list-item {
  display: flex;
  width: 48%;
  background-color: rgba(255,255,255,0.7);
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 2px;

}


.content {
  .types {
    .brand {
      font-size: 20px;
    }
  }
  .number {
    font-size: 20px;
  }
}

.types {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin-left: 40px;
  }
  .brand {
  }
}

.numbers {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    width: 10px;
  }

  .thc, .cbd, .price {
    flex-grow: 1;
  }
}
