.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 10px;
  .logo {
    height: 100%;
    #circle-logo {
      width: 80px;
      filter: invert(100%);
      margin-top: 10px;
    }
  }
  .menu-title {
    h1 {
      color: white;
      font-size: 50px;
      font-family: 'Gotham Black';
      text-transform: uppercase;
    }
  }
  .legend {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    display: flex;
    width: 150px;
    justify-content: space-around;
  }
}
.icon-indica {
  @include icon($indica, 20px, 12px, $indica);
}
.icon-sativa {
  @include icon($sativa, 20px, 12px, $sativa);
}
.icon-hybrid {
  @include icon($hybrid, 20px, 12px, $hybrid);
}
.icon-indica-hybrid {
  @include icon($hybrid, 20px, 12px, $indica);
}
.icon-sativa-hybrid {
  @include icon($hybrid, 20px, 12px, $sativa);
}
