.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 10px;
  .logo {
    height: 100%;
    #circle-logo {
      width: 200px;
      filter: invert(100%);
      margin-top: 10px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .menu-title {
    h1 {
      color: white;
      font-size: 50px;
      font-family: 'Gotham Black';
      text-transform: uppercase;
    }
  }
}
.icon-indica {
  @include icon($indica, 20px, 20px, 12px, $indica);
}
.icon-sativa {
  @include icon($sativa, 20px, 20px, 12px, $sativa);
}
.icon-hybrid {
  @include icon($hybrid, 20px, 20px, 12px, $hybrid);
}
.icon-indica-hybrid {
  @include icon($hybrid, 20px, 20px, 12px, $indica);
}
.icon-sativa-hybrid {
  @include icon($hybrid, 20px, 20px, 12px, $sativa);
}

.legend-indica {
  @include icon($indica, 60px, 25px, 16px, $indica);
  box-shadow: 2px 2px 5px black;
}
.legend-sativa {
  @include icon($sativa, 60px, 25px, 16px, $sativa);
  box-shadow: 2px 2px 5px black;
}
.legend-hybrid {
  @include icon($hybrid, 60px, 25px, 16px, $hybrid);
  box-shadow: 2px 2px 5px black;
}
.legend-indica-hybrid {
  @include icon($hybrid, 120px, 25px, 16px, $indica);
  box-shadow: 2px 2px 5px black;
}
.legend-sativa-hybrid {
  @include icon($hybrid, 120px, 25px, 16px, $sativa);
  box-shadow: 2px 2px 5px black;
}
