$hybrid: #79ba30;
$sativa: #d1482f;
$indica: #6c345d;
$yellow: #fbda61;
$sativa-hybrid: linear-gradient(to bottom right, $sativa, $hybrid);

@mixin icon($color, $width, $height, $font-size, $color2) {
  background: $color;
  color: white;
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  font-size: $font-size;
  border: 2px solid $color2;
}
