$hybrid: #79ba30;
$sativa: #d1482f;
$indica: #6c345d;
$yellow: #fbda61;
$sativa-hybrid: linear-gradient(to bottom right, $sativa, $hybrid);

@mixin icon($color, $size, $font-size) {
  background: $color;
  color: white;
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Black';
  text-shadow: 0 0 20px grey;
  font-size: $font-size;
}
